
body{
    text-align: center;
    background-image: url('bgimg.jpg');
    background-size: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

li{
    transition: 1s;
    display: flex;
    justify-content: center;
    font-size: 30px;
}


input{
    font-size: 30px;
}




.addBtn{
    font-size: 30px;
}

/* when li is clicked */
.checked{
    text-decoration:line-through;
    color: rgba(255, 0, 0, 0.5);
}

.btncontrol{
    display: inline;
}


.deleted{
    display: none;
}
@media(max-width: 500px){
    .deleted{
        display: block;
        font-size: 30px;
    }
    li{
        transition: 1s;
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-weight: 800;
    }

    body{
        background-size: 1200px;
    }

}
