
body{
    text-align: center;
    background-image: url('bgimg.jpg');
    background-size: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


li{
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
}


input{
    font-size: 30px;
    padding: 10px;
}


@media(min-width:600px){
    .displayList{
        margin-left: 200px;
        margin-right: 200px;
    }
}
@media(max-width: 600px){
    .deleted{
        display: block;
        font-size: 20px;
    }
    li{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-weight: 800;
    }


    body{
        background-size: 1200px;
    }

}



.addBtn{
    font-size: 30px;
}

/* when 'li' is clicked */
.checked{
    color: rgba(90, 0, 0, 0.3);
    text-decoration: line-through;
}

.btncontrol{
    display: inline;
}

span{
    transition: 0.4s;
}

.deleted{
    
    margin: 10px;
    padding: 10px;
}



